.footer {
	margin-top: auto;
	background-color: #41403e;
	position: relative;
	z-index: 10;
	padding-top: rem(34);
	padding-bottom: rem(32);
	@include media-breakpoint-down(lg) {
		padding-top: 86px;
		padding-bottom: 95px;
	}
	.row {
		@include media-breakpoint-down(lg) {
			flex-direction: column;
		}
	}
	ul {
		@include media-breakpoint-up(lg) {
			columns: 2;
		}
		list-style-type: none;
		li {
			margin-bottom: 0.4em;
			@include media-breakpoint-down(xl) {
				max-width: 250px;
			}
			&:nth-child(5) {
				@include media-breakpoint-down(lg) {
					margin-bottom: 50px;
				}
			}
			a {
				color: #dedede;
				font-size: 13px;
				line-height: rem(16);
				@include media-breakpoint-up(lg) {
					font-size: rem(13);
					line-height: rem(16);
				}
				&:hover {
					color: $white;
				}
			}
		}
	}
	&__title {
		margin-bottom: rem(11);
		color: $white;
		font-size: 13px;
		line-height: 16px;
		@include media-breakpoint-up(lg) {
			font-size: rem(13);
			line-height: rem(16);
		}
	}
	&__caption {
		font-weight: 600;
		color: $white;
		font-size: 14px;
		line-height: 17px;
		max-width: 210px;
		@include media-breakpoint-up(lg) {
			font-size: rem(14);
			line-height: rem(17);
			margin-bottom: rem(17);
			max-width: rem(210);
		}
		@include media-breakpoint-down(lg){
			margin-bottom: 36px;
		}
	}
	&__policy {
		color: #dedede;
		font-size: 13px;
		line-height: 16px;
		@include media-breakpoint-up(lg) {
			font-size: rem(13);
			line-height: rem(16);
		}
		@include media-breakpoint-down(lg) {
			margin-top: 40px;
			margin-bottom: 54px;
		}
		&:hover {
			color: $white;
		}
	}
	&__tel {
		display: inline-block;
		font-weight: 600;
		color: $white;
		margin-bottom: 0.4em;
		font-size: 18px;
		line-height: 22px;
		@include media-breakpoint-up(lg) {
			font-size: rem(18);
			line-height: rem(22);
		}
	}
}


.modal-cookies {
	box-shadow: 0px 0px 25px rgba(50, 58, 66, 0.15);
	background-color: $white;
	@include media-breakpoint-up(md) {
		max-width: rem(365);
		padding-top: rem(20);
		padding-left: rem(25);
		padding-bottom: rem(20);
		padding-right: rem(15);
	}
	position: fixed;
	z-index: 1500;
	@include media-breakpoint-down(md) {
		bottom: 18px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	@include media-breakpoint-up(md) {
		bottom: rem(30);
		left: rem(30);
	}
	width: 100%;
	padding: 20px;
	max-width: 540px;
	&__is-close {
		@include mt;
		position: absolute;
		top: rem(11) !important;
		right: rem(11) !important;
		border-width: 0px !important;
		box-shadow: none !important;
		background-color: transparent;
		outline: 0 !important;
		&:hover {
			opacity: 0.75;
		}
		svg {
			outline: 0!important;
			filter: none;
			width: 20px;
			height: 20px;
			stroke: #cacfd6;
			fill: none;
			stroke-width: var(--carousel-button-svg-stroke-width, 1.5);
			stroke-linejoin: bevel;
			stroke-linecap: round;
			@include media-breakpoint-up(md) {
				width: rem(20);
				height: rem(20);
			}
		}
	}
	&__caption {
		line-height: 150%;
		font-size: 14px;
		color: #323a42;
		padding-bottom: 15px;
		@include media-breakpoint-up(md) {
			font-size: rem(16);
			padding-bottom: rem(15);
		}
		a {
			// @extend .tdu;
			// color: $primary !important;
			border-bottom: 1px solid;
			line-height: 1;
		}
	}
	&__btn {
		@extend .btn, .btn-primary;
		text-align: center;
		max-width: 234px;
		font-size: 14px;
		padding: rem(14);
		line-height: 20px;
		@include media-breakpoint-up(md) {
			max-width: rem(134);
			font-size: rem(16);
			line-height: rem(20);
		}
	}
}