mixin footer()
	+b.FOOTER.footer(class="animate__fadeIn animate__animated wow" )
		.container
			.row
				.col
					ul
						li
							a(href='#') О студии
						li
							a(href='#') Портфолио
						li
							a(href='#') Таймлайн
						li
							a(href='#') Услуги и стоимость
						li
							a(href='#') Контакты
						li
							a(href='#') Отзывы
						li
							a(href='#') Статьи
				+e.col.col-lg-3.d-flex.flex-column
					+e.title.order-lg-0.order-1 Офис:
					+e.caption.order-lg-1.order-2 г. Москва, м. Семёновская, ул. Большая Семёновская, д. 55 А, офис 21
					+e.policy.order-lg-2.order-0(href="#") Политика конфиденциальности
				.col-lg-2
					+e.title Режим работы:
					+e.caption 10:00 - 20:00
				.col-auto
					+e.tel(href="tel:+7(495)720-30-51") +7 (495) 720-30-51
					br
					+e.tel(href="tel:+7(903)756-30-51") +7 (903) 756-30-51
			//- +e.UL.list
			//- 	+e.LI.simple-link
			//- 			a(href='#') О студии
			//- 	+e.LI.simple-link
			//- 			a(href="#") Портфолио
			//- 	+e.LI.simple-link
			//- 			a(href="#") Таймлайн
			//- 	+e.LI.simple-link
			//- 			a(href="#") Услуги и стоимость
			//- 	+e.LI.simple-link
			//- 			a(href="#") Контакты
			//- 	+e.LI.simple-link--second
			//- 			a(href="#") Отзывы
			//- 	+e.LI.simple-link--second
			//- 			a(href="#") Статьи
			//- 	+e.LI.simple-link--policy
			//- 			a(href="#") Политика конфиденциальности
			//- 	+e.LI.simple-link--center
			//- 			p.title Офис:
			//- 	+e.LI.caption-link--center
			//- 			p.caption г. Москва, м. Семёновская, ул. Большая Семёновская, д. 55 А, офис 21
			//- 	+e.LI.simple-link
			//- 			p.title.title--2 Режим работы:
			//- 	+e.LI.caption-link
			//- 			p.caption.caption--2 10:00 - 20:00
			//- 	li
			//- 		+e.tel(href="tel:+7(495)720-30-51") +7 (495) 720-30-51
			//- 	li
			//- 		+e.tel(href="tel:+7(903)756-30-51") +7 (903) 756-30-51
			//- .row
			//- 	.col.col--first
			//- 		+e.list
			//- 			a(href="#") О студии
			//- 			a(href="#") Портфолио
			//- 			a(href="#") Таймлайн
			//- 			a(href="#") Услуги и стоимость
			//- 			a(href="#") Контакты
			//- 	.col.col--second.ps-lg-0
			//- 		+e.list
			//- 			a(href="#") Отзывы
			//- 			a(href="#") Статьи
			//- 			a.policy(href="#") Политика конфиденциальности
			//- 	.col.col--center
			//- 		+e.title Офис:
			//- 		+e.caption г. Москва, м. Семёновская, ул.&nbsp;Большая&nbsp;Семёновская, д.&nbsp;55&nbsp;А,&nbsp;офис&nbsp;21
			//- 	.col.col--fourth
			//- 		+e.title Режим работы:
			//- 		+e.caption 10:00 - 20:00
			//- 	.col.col--last
			//- 		+e.tel(href="tel:+7(495)720-30-51") +7 (495) 720-30-51
			//- 		+e.tel(href="tel:+7(903)756-30-51") +7 (903) 756-30-51

	+b.modal-cookies(class=" " id="modal-cookies" style="display: none")
		+e.caption Этот сайт использует файлы cookie для хранения данных. Продолжая использовать сайт, вы&nbsp;даете свое согласие на&nbsp;работу с&nbsp;этими файлами.
		+e.btn(type="button").modal-close-js.btn-cookie #[span.d-none.d-sm-inline ХОРОШО, ] ПРИНИМАЮ
		+pic("modal-cookie",'bg')
		.bg-text Cookie
	