.footer {
	margin-top: auto;
	background-color: #41403e;
	position: relative;
	z-index: 10;
	padding-top: rem(34);
	padding-bottom: rem(32);
	@include media-breakpoint-down(lg) {
		padding-top: 86px;
		padding-bottom: 95px;
	}

}
