mixin sReviews(data)
	// start sReviews
	+b.SECTION.sReviews.section#sTrusted&attributes(attributes)
		.container
			.row
				.col-md-8
					+b.section-title
						h2 Узнайте, почему нам доверяют самое дорогое
						+e.name Чернилевский Денис
						+e.adress Большой Саввинский переулок
						p Заказывал у&nbsp;Николая дизайн-проект и&nbsp;авторский надзор в&nbsp;процессе ремонта. Хочу сказать большой спасибо за&nbsp;продуктивное сотрудничество на&nbsp;всех стадиях выполненного проекта.
						p Удивило&nbsp;то, как удачно получилось воплотить в&nbsp;дизайн проекте все мои внутренние хотелки. Когда общались в&nbsp;самом начале и&nbsp;рассматривали варианты того, что мне нравится, я&nbsp;просто отправил 3&nbsp;разных варианта цветовой гаммы и&nbsp;сочетаний материалов, думая, что Николай выберет только один из&nbsp;них, а&nbsp;уж&nbsp;никак не&nbsp;соберет всё это в&nbsp;один проект. Но&nbsp;это удалось, и&nbsp;получилось настолько круто, что я&nbsp;даже и&nbsp;представить себе не&nbsp;мог! Уже полгода не&nbsp;перестаю наслаждаться своим ремонтом и&nbsp;Николай в&nbsp;этом виноват на&nbsp;все 100%!


				+e.col.col-12.col-sm
					+pic(`advantages-1.jpg`,'bg', '')
	// end sReviews