mixin sDreamHouse(data)
	// start sDreamHouse
	+b.SECTION.sDreamHouse.section#sDreamHouse&attributes(attributes)
		.container
			.row
				+pic('dream-house.jpg','bg',0).bg-pic.d-lg-block.d-none
				+e.content-col.col-auto
					h1 Дом вашей мечты<br />-&nbsp;это реально
					+e.caption <p>Отработанный многими годами подход и&nbsp;опыт позволяют нам создавать штучные интерьер в&nbsp;различных стилях.</p><p>Каждый наш сотрудник основательно подходит к&nbsp;проекту, бережно и&nbsp;внимательно работая над каждой деталью интерьера.</p><p>Качественно прорабатывая все составляющие проекта. В&nbsp;каждую составляющую проекта вдыхая жизнь, добавляя индивидуальные детали и&nbsp;аксессуары.</p>
	// end sDreamHouse