// start .sLoading
.sLoading {
	--sPT: 0;
	--sPB: 0;
	height: 100vh;
	.container {
		position: relative;
	}
	&__wrap {
		position: absolute;
		top: 26.73vh;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.pic {
		margin-bottom: 100px;
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(100);
		}
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			@include media-breakpoint-between(lg, xxl) {
				width: 192px;
				height: 47px;
			}
		}
	}
	.icon {
		display: block;
		margin-left: auto;
		margin-right: auto;
		font-size: 45px;
		color: #5a5a5a;
		transition: all 0.5s ease;
		animation: rotate 0.8s linear infinite;
		transform-origin: 24px 26px;
		@include media-breakpoint-up(lg) {
			font-size: rem(45);
			transform-origin: rem(24) rem(26);
		}
	}
	@keyframes rotate {
		from {
			transform: rotate(-360deg);
		}
	}
	&__title {
		padding-top: 32px;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #5A5A5A;
		text-align: center;
		@include media-breakpoint-up(lg) {
			padding-top: rem(32);
			font-size: rem(24);
			line-height: rem(29);
		}
	}
} // end.sLoading
