mixin sArticles(data)
	// start sArticles
	+b.SECTION.sArticles.section#sArticles&attributes(attributes)
		.container
			.decorative-line.decorative-line--articles
			.decorative-circle.decorative-circle--first
			.decorative-circle.decorative-circle--second
			.bg-text.bg-text--articles articles
			+e.wrap
				h2 Дизайн проект квартиры от студии&nbsp;Н&#8209;КУБ
				p Элитный дизайн квартиры
				p Хай-тек дизайн
				p Минимализм
				p Luxury
				p Эко дизайн
				p Современный стиль
				p Дизайн квартиры-студии
				p Дизайн новой квартиры
				p Однокомнатная квартира
				p Двухкомнатная квартира
				p Трехкомнатная квартира
				p Четырехкомнатная квартира
			+e.wrap
				h2 Интерьер загородного дома
				p Дизайн коттеджа
				p Дизайн дома в стиле минимализм
				p Дизайн таунхауса
				p Дизайн загородного дома
			+e.wrap
				h2 Интерьеры
				p Интерьер гостиной
				p Дизайн дачного дома
				p Интерьер ванной
				p Интерьер детской
				p Интерьер кухни
				p Интерьер спальни
	// end sArticles