mixin sArticles(data)
	// start sArticles
	+b.SECTION.sArticles.section#sArticles&attributes(attributes)
		.container
			.decorative-line.decorative-line--articles
			.decorative-circle.decorative-circle--first
			.decorative-circle.decorative-circle--second
			.bg-text.bg-text--articles articles
			ul 
				a.h2(href="#") Дизайн проект квартиры от&nbsp;студии&nbsp;Н&#8209;КУБ
				li
					a(href="#") Элитный дизайн квартиры
				li
					a(href="#") Хай-тек дизайн
				li
					a(href="#") Минимализм
				li
					a(href="#") Luxury
				li
					a(href="#") Эко дизайн
				li
					a(href="#") Современный стиль
				li
					a(href="#") Дизайн квартиры-студии
				li
					a(href="#") Дизайн новой квартиры
				li
					a(href="#") Однокомнатная квартира
				li
					a(href="#") Двухкомнатная квартира
				li
					a(href="#") Трехкомнатная квартира
				li
					a(href="#") Четырехкомнатная квартира
			ul
				a.h2(href="#") Интерьер загородного дома
				li
					a(href="#") Дизайн коттеджа
				li
					a(href="#") Дизайн дома в стиле минимализм
				li
					a(href="#") Дизайн таунхауса
				li
					a(href="#") Дизайн загородного дома
			ul
				a.h2(href="#") Интерьеры
				li
					a(href="#") Интерьер гостиной
				li
					a(href="#") Дизайн дачного дома
				li
					a(href="#") Интерьер ванной
				li
					a(href="#") Интерьер детской
				li
					a(href="#") Интерьер кухни
				li
					a(href="#") Интерьер спальни
	// end sArticles