mixin sAdvantages(data)
	// start sAdvantages
	+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
		.container
			.row
				.col-md-8
					+b.section-title(class="animate__fadeInUp animate__animated wow")
						h2 Клиенты выделяют основные&nbsp;наши преимущества
					+e.row.row
						+b.decorative-line(class="animate__slideInUp animate__animated wow" data-wow-delay="1s")
						mixin item(h, p)
							.col-lg-6(class="animate__fadeInUp animate__animated wow")
								+e.item
									h5!= h
									p!= p
						+item(`ПРОЗРАЧНОЕ ЦЕНООБРАЗОВАНИЕ`, `Всегда можно скорректировать перечень услуг, и&nbsp;выбрать только&nbsp;то, что нужно`)
						+item(`КОМПЛЕКС УСЛУГ`, `Делаем все работы от&nbsp;разработки дизайна и&nbsp;заканчивая отделкой помещения`)
						+item(`ПРАКТИЧНЫЙ ПОДХОД`, `Все наши решения мы оцениваем не только с точки зрения красоты, красота должна быть практичной`)
						+item(`МЫ`, `Можем решить все задачи, которые встречаются на&nbsp;пути реализации проекта. Делаем всё, чтобы снять с&nbsp;вас все вопросы`)
						+item(`ЕДИНЕНИЕ С&nbsp;ПРИРОДОЙ`, `Уделяем особое внимание при подборе материалов. Очень любим природу, поэтому дерево, камень и&nbsp;экологичные материалы нас вдохновляют`)
						+item(`КОМФОРТНАЯ РАБОТА`, `Благодаря нашему полному погружению в&nbsp;проект, любая деталь будет учтена`)
				
				+e.col.col-12.col-sm(class="animate__fadeInRight animate__animated wow")
					+pic(`advantages-1.jpg`,'bg', '')
		
	// end sAdvantages