// start .sAdvantages
.sAdvantages {
	--sPT: #{rem(85)};
	--sPB: 0;
	--sTPB: #{rem(63)};
	background-color: #f2f2f2;
	position: relative;

	.section-title {
		@include media-breakpoint-up(md) {
			padding-top: rem(66);
		}
	}
	
	.decorative-line {
		width: calc(100% - 30px);
		height: 1px;
		left: 15px;
		margin: 0;
		bottom: rem(30);
		@include media-breakpoint-up(md) {
			width: 110%;
			bottom: rem(45);
		}
	}
	h5 {
		position: relative;
		font-weight: 600;
		padding-left: rem(26);
		&::before {
			content: "";
			position: absolute;
			width: rem(8);
			height: rem(8);
			left: 0;
			top: rem(9);
			border-radius: 50%;
			background-color: $primary;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		height: 100%;
		@include media-breakpoint-up(lg) {
			min-height: rem(126);
		}
		h5 {
			margin-bottom: rem(15);
		}
		p {
			color: #5a5a5a;
			flex-grow: 1;
			@include media-breakpoint-up(md) {
				max-width: rem(405);
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__row {
		--bs-gutter-y: #{rem(33)};
		position: relative;
		padding-bottom: rem(85);
		@include media-breakpoint-up(md) {
			padding-bottom: rem(110);
			// position: static;
		}
	}
	&__col {
		min-height: 561px;
		@include media-breakpoint-up(md) {
			position: relative;
		}
		picture {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 561px;
			@include media-breakpoint-up(md) {
				left: 0;
				top: 0;
				height: 100%;
				width: calc((100vw - 300%) / 2 + 100%);
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAdvantages
