mixin sCalc(data)
	// start sCalc
	+b.SECTION.sCalc.section#sCalc&attributes(attributes)
		.container
			.bg-text.bg-text--calc calculator
			+b.section-title.text-center
				h1 Калькулятор расчета цены дизайн проекта
		.container.container--calc
			+e.block
				+e.block-title Выберите тариф
				form(name="type")
					.row.row--tariffs
						.col-lg-3.col-6
							+e.calc-label
								+e.INPUT.calc-radio.calc-tariff(type="radio" value="1" name="tariff" checked)
								+e.SPAN.calc-info Start cube
						.col-lg-3.col-6
							+e.calc-label
								+e.INPUT.calc-radio.calc-tariff(type="radio" value="2" name="tariff")
								+e.SPAN.calc-info project cube
						.col-lg-3.col-6
							+e.calc-label
								+e.INPUT.calc-radio.calc-tariff(type="radio" value="3" name="tariff")
								+e.SPAN.calc-info project cube +
						.col-lg-3.col-6
							+e.calc-label
								+e.INPUT.calc-radio.calc-tariff(type="radio" value="4" name="tariff")
								+e.SPAN.calc-info maxi cube
				form(name="formSquare") 
					.row.row--price
						.col-lg-3.col-6
							+e.calc-label
								+e.INPUT.calc-radio(type="radio" value="1sq" name="square")
								+e.SPAN.calc-info
									span 0 - 60 м²
									span 1 м² - 0000&nbsp;р
						.col-lg-3.col-6
							+e.calc-label
								+e.INPUT.calc-radio(type="radio" value="2sq" name="square")
								+e.SPAN.calc-info
									span 60 - 100 м²
									span 1 м² - 0000&nbsp;р
						.col-lg-3.col-6
							+e.calc-label
								+e.INPUT.calc-radio(type="radio" value="3sq" name="square")
								+e.SPAN.calc-info
									span 100 - 250 м²
									span 1 м² - 0000&nbsp;р
						.col-lg-3.col-6
							+e.calc-label
								+e.INPUT.calc-radio(type="radio" value="4sq" name="square")
								+e.SPAN.calc-info
									span 250 м² +
									span 1 м² - 0000&nbsp;р
				.row.row--calc
					+e.square
						+e.calc-title Площадь вашего объекта
						input(type="text" name="squareValue" placeholder="000 м²")
					+e.final
						+e.final-price
							+e.calc-title Стоимость работ
							+e.input-final 420 000 р
						+e.sale-price
							+e.calc-title Со скидкой 5% 
							+e.input-sale 399 000 р
				+e.btn-fix.link-modal-js(href='modal-sale') Зафиксировать скидку
				+b.modal-win--sale(id=`modal-sale` class=" " style="display: none" )
					.modal-wrap
						.modal-text
							.modal-text__title Ваша скидка зафиксирована
							.modal-text__caption Вы можете&nbsp;обратиться к&nbsp;нам&nbsp;в&nbsp;любое время и воспользоваться скидкой
						+pic('modal-sale.png','',0).pic-sale
					.bg-text.bg-text--sale Thank You
	// end sCalc