mixin sBestWorks(data)
	// start sBestWorks
	+b.SECTION.sBestWorks.section#sBestWorks&attributes(attributes)
		.container(style="position:relative")
				.decorative-line.decorative-line--best1
				.decorative-line.decorative-line--best2
		+b.wrapper-grid
			+e.card
				h2 Наши лучшие работы
			+pic-card(1)
			+pic-card(2)
			+pic-card(3)
			+pic-card(4)
			+pic-card(5)
			+e.card
				+e.btn(href="#") СМОТРЕТЬ ВСЕ ПРОЕКТЫ
		+b.wrapper-grid
			+e.card
				h2 Наши лучшие работы
			+pic-card(1)
			+pic-card(2)
			+pic-card(3)
			+pic-card(4)
			+pic-card(5)
			+e.card
				+e.btn(href="#") СМОТРЕТЬ ВСЕ ПРОЕКТЫ
	// end sBestWorks