// start .sBestWorks
.sBestWorks {
	--sPT: 55px;
	// --sPB: ;
	// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(77)};
	}
	position: relative;
	z-index: 4;
	
} // end.sBestWorks
@media (max-width: 440px) {
	.sBestWorks .wrapper-grid__pic-card .card-text {
		bottom: 10px;
		left: 10px;
		font-size: 13px;
		line-height: 15px;
		height: 35px;
	}
	.sBestWorks .wrapper-grid__pic-card .card-text .title {
		margin-bottom: 10px;
	}
	.sBestWorks .wrapper-grid__btn {
		max-width: 270px;
	}
}
.decorative-line--best1 {
	z-index: -1;
	@include media-breakpoint-up(xxxl) {
		left: 15px;
		top: -306px;
		height: 1918px;
		width: 1px;
		position: absolute;
	}
	@include media-breakpoint-up(xxl) {
		left: 15px;
		top: -230px;
		height: 1918px;
		width: 1px;
		position: absolute;
	}
	@include media-breakpoint-up(lg) {
		background-color: rgba(207, 207, 207, 0.57);
		width: 1px;
		position: absolute;
		left: 12px;
		// top: -1020px;
		top: -140px;
		height: 1420px;
	}
	@include media-breakpoint-down(lg) {
		display: none;
	}
}
.decorative-line--best2 {
	z-index: -1;
	@include media-breakpoint-up(xxl) {
		left: 496px;
		// top: -1277px;
		top: -128px;
		height: 900px;
		width: 1px;
		position: absolute;
	}
	@include media-breakpoint-up(lg) {
		background-color: rgba(207, 207, 207, 0.57);
		width: 1px;
		position: absolute;
		left: 362px;
		top: -80px;
		height: 600px;
	}
	@include media-breakpoint-down(lg) {
		display: none;
	}
}
