// start .sDescription
.sDescription {
	.container {
		position: relative;
		z-index: 1;
	}
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(127)};
		--sPB: #{rem(109)};
	}
	@include media-breakpoint-down(lg) {
		--sPB: 0x;
	}
	// --sTPB: ;
	&__caption {
		font-size: 14px;
		line-height: 17px;
		@include media-breakpoint-up(lg) {
			font-size: rem(18);
			line-height: rem(22);
			max-width: rem(676);
		}
		@include media-breakpoint-down(lg) {
			padding-bottom: 44px;
			border-bottom: 1px solid rgba(207, 207, 207, 0.57);
		}
		p {
			margin-bottom: rem(21);
		}
	}
	.bg-descr {
		@include media-breakpoint-up(xxxl) {
			// top: rem(-80);

			// left: rem(464);
		}
		@include media-breakpoint-up(xxl) {
			// top: rem(-80);
			// left: rem(320);
			left: 30%;
			bottom: -220px;
			max-width: none;
			// max-width: none;
		}
		@include media-breakpoint-up(xl) {
			// top: rem(220);
			// left: rem(460);
			width: auto;
			left: 22%;
			bottom: -320px;
			top: auto;
		}
		@include media-breakpoint-up(lg) {
			// top: rem(-50);
			position: absolute;
			top: 85px;
			left: 365px;
			max-width: 900px;
		}
		display: block;
		// @include media-breakpoint-between(lg,xl){
		// 	width: 900px;
		// 	height: 602px;
		// 	img{
		// 		// object-fit: cover;
		// 	}
		// }
		@include media-breakpoint-down(lg) {
			// display: none;
			margin-left: -15px;
			margin-right: -15px;
			width: calc(100% + 30px);
		}
		img {
			@include media-breakpoint-up(xl) {
				width: auto;
				max-width: none;
			}
			@include media-breakpoint-up(lg) {
				max-width: 900px;

			}
			// object-fit: none;
			// object-position: top;
		}
		@include media-breakpoint-down(lg) {
		
		
			margin-top: 43px;
			// width: 100%;
			// height: 665px;
			// object-fit: cover;
			// position: absolute;
			bottom: -88px;
			// left: 0;
		}
	}
} // end.sDescription
