mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.slider-btn-next
		.container-md
			+e.slider--js.swiper
				.swiper-wrapper
					mixin slide(i, t, ...items)
						+e.slide.swiper-slide.bg-wrap
							+e.inner
								+pic(`header-block-${i}.jpg`,'bg').picture-bg
								+e.slide-inner.container
									+b.section-title
										h1!= t
									ul
										each item in items
											li!= item
									+e.btn(href="#") Рассчитать проект
					+slide(1, `Дизайн интерьера жилых помещений под ключ`, `Работа в&nbsp;срок, с&nbsp;учетом бюджета и&nbsp;пожеланий клиента`, `Стиль&nbsp;&dash; наше главное отличие от&nbsp;других студий`, `18&nbsp;лет практики в&nbsp;сфере дизайна`)
					+slide(2, `Эстетика в каждой <br> детали`, `Все продумываем до&nbsp;мелочей`, `Сочетаем красоту с&nbsp;функциональностью`, `Гармония в&nbsp;каждом интерьере`)
					+slide(3, `Экологичные <br> материалы`, `Любим природу, поэтому отдаем предпочтение натуральным и&nbsp;безопасным материалам`, `Создаем положительную энергетику в&nbsp;каждом доме`)
					+slide(4, `Нестандартные решения`, `Никаких шаблонов и&nbsp;&laquo;как в&nbsp;том буклете&raquo;`, `Только уникальные и&nbsp;подстроенные под вас и&nbsp;ваш вкус решения`)
					+slide(5, `Функциональность`, `Считаем, что красивый и&nbsp;стильный интерьер может быть удобным и&nbsp;функциональным `, `Строим интерьеры согласно вашим привычкам и&nbsp;образу жизни`)
					+slide(6, `Атмосфера уюта`, `Подчеркиваем вашу индивидуальность в&nbsp;интерьере`, `Не&nbsp;боимся смешивать стили, если чувствуем, что один не&nbsp;в&nbsp;состоянии полностью охватить ваши предпочтения`)
					+slide(7, `Эргономический просчет`, `При создании проекта ориентируемся на&nbsp;эстетику и&nbsp;ваш образ жизни `, `Создаем удобное и&nbsp;комфортное для проживания пространство, учитывая каждый сантиметр полезной площади`)
				.swiper-pagination
				//- .swiper-button-prev
				//- .swiper-button-next

	// end headerBlock