// start .headerBlock
.headerBlock {
	--sTPB: #{rem(55)};
	--sPT: 0;
	--sPB: 0;
	position: relative;
	@include media-breakpoint-up(md) {
		--left: calc(50vw - 50%);
		&__slider-btn-next{
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: calc(var(--left) + 200px);
			z-index: 300;
		}
	}
	h1{
		min-height: 3em;
	}
	// --left: calc(150px);
	// margin-bottom: 1px;
	// min-height: 100vh;
	// background-image: url(../img);
	// background-color: #000000;

	&__slider {
		position: relative;
		margin-left: calc(-1 * var(--left));
		width: calc(100% + var(--left));
		overflow: visible;
	}
	.swiper-slide{ 
	}
		&__slide-inner {
			position: relative;
			z-index: 4;
				@include media-breakpoint-up(md) {

					margin-left: auto;
					// max-width: calc(100% - (100vw - 100%) / 2);
					margin-right: calc(-1 * var(--bs-gutter-x) / 2);
					padding-left: rem(30);
				}
		} 
	.swiper-wrapper {
		min-height: calc(var(--vh, 1vh) * 100 - var(--topH));
	}
	&__slider{
		@include mt;
		&.active{

			transform: translateX(-100px);
			// transform: translateX(-100px);
			.swiper-slide-active{
				picture{
					transform: translateX(100px);
					
				}
			}
		}
	}
	.swiper-slide-active,
	.swiper-slide-next{
		// z-index: 21 !important;
	}
		@include media-breakpoint-up(lg) {

			.swiper-slide:not(.swiper-slide-active).active{
				& ~ .swiper-slide:not(.swiper-slide-active),
				&{
					.headerBlock__inner{
						transform: translateX(-100px);
					}
				}
			}
			.headerBlock__inner.active{
						transform: translateX(-100px);
					}
					.swiper-slide-active{
						.headerBlock__inner.active{
									transform: translateX(0);
								}

					}
			&__slide-inner{
				@include mt;
				&.active{
					transform: translateX(-100px);
				}
			}
		}

		picture{
			@include mt;
		}
	&__inner {
		@include mt;
		height: 100%;
		padding-top: rem(75);
		padding-bottom: rem(150);
		@include media-breakpoint-up(lg) {
			padding-top: rem(100);
			padding-bottom: rem(150);
		}
		&::before {
			content: "";
			position: absolute;
			width: 1100px;
			height: 767px;
			left: -341px;
			top: -154px;
			@include media-breakpoint-up(sm) {
				left: -235px;
			}
			@include media-breakpoint-up(md) {
				height: 790px;
				left: -404px;
				position: absolute;
				top: -150px;
				width: 1400px;
			}
			@include media-breakpoint-up(lg) {
				width: 1904px;
				height: 1100px;
				left: -744px;
				top: -500px;
			}
			@include media-breakpoint-up(xxl) {
				height: 140%;
				left: -40%;
				position: absolute;
				top: -53%;
				width: 125%;
			}
			z-index: 1;
			background-image: radial-gradient(
				50% 50% at 50% 50%,
				rgba(255, 255, 255, 0.65) 0%,
				rgba(255, 255, 255, 0.65) 20.83%,
				rgba(255, 255, 255, 0.65) 35.94%,
				rgba(255, 255, 255, 0.614) 44.79%,
				rgba(255, 255, 255, 0.56) 54.17%,
				rgba(255, 255, 255, 0.41) 69.79%,
				rgba(255, 255, 255, 0.268621) 84.38%,
				rgba(255, 255, 255, 0) 100%
			);
			background-repeat: no-repeat;
		}
		position: relative;
		overflow: hidden;
	}
	&__slide{
		height: auto;
		.container {
			position: relative;
			z-index: 2;
		}
		picture {
			z-index: -2;
			img {
				@include media-breakpoint-down(lg) {
					object-position: 10%;
				}
			}
		}
	}

	.swiper-pagination {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 3;
		display: flex;
		justify-content: center;
		margin-top: rem(18);
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}

	.section-title {
		max-width: 51.1em;
		margin-bottom: 0.5rem;
	}

	ul {
		max-width: 33em;
		list-style-type: none;
		margin-bottom: rem(35);
		min-height: 117px;
		
		li {
			color: #0f0f0f;
			font-size: rem(20);
			margin-bottom: rem(15);
		}
	}

	&__btn {
		@extend .btn;
		@extend .btn-primary;
	}
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
		.container-md{
			padding: 0;
		}
		&__content{
			min-height: 300px;
		}
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}

// end.headerBlock
