mixin sProjects(data)
	// start sProjects
	+b.SECTION.sProjects.section#sProjects&attributes(attributes)
		.decorative-circle
		.container
			+b.section-title(class="animate__fadeInUp animate__animated wow")
				h2 с 2010 года наша студия реализовала более 200 объектов
		.container--slider
			.container
				.decorative-line(class="animate__slideInUp animate__animated wow"  data-wow-delay=".5s")
				+b.bg-text--first(class="animate__fadeInRight animate__animated wow" data-wow-delay=".2s") After
				+b.bg-text--second(class="animate__fadeInLeft animate__animated wow" data-wow-delay=".2s") Before
			+e.slider--js.swiper(class="animate__fadeInUp animate__animated wow")
				.swiper-wrapper
					- for (var x = 0; x < 3; x++)
						+e.slide.swiper-slide
							+b.before-after.swiper-no-swiping
								+e.item( class='img background-img').bg-wrap
									+pic("projects-2.jpg",'bg',0).picture-bg
								+e.item(class='img foreground-img').bg-wrap
									+pic("projects-1.jpg",'bg',0).picture-bg
								<input type="range" min="0" max="100" value="50" class="slider-ba" name='slider'  >
								.slider-button
									+icon('chevron-left')
									+icon('chevron-right')
									
				+e.arrows
					+arrow
		+e.btn-wrap(class="animate__fadeInUp animate__animated wow")
			+e.btn(href="#").btn.btn-primary Все работы
	// end sProjects