// start .sProjects
.sProjects {
	--sPT: #{rem(95)};
	--sPB: #{rem(70)};
	--sTPB: #{rem(125)};
	.container--slider{
		max-width: 1920px;
		margin-left: auto;
		margin-right: auto;
	}
	@include media-breakpoint-up(md) {
		--sTPB: #{rem(50)};
	}
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(130)};
		--sPB: #{rem(130)};
	}
	position: relative;
	overflow: hidden;
	background-color: $brown;
	color: $white;
	.decorative-line {
		width: 1px;
		height: 150vw;
		top: -50%;
		left: rem(15);
		display: none;
		@include media-breakpoint-up(lg) {
			display: block;
		}
	}
	.decorative-circle {
		border-color: rgba(224, 224, 224, 0.5);
		bottom: -7%;
		right: -20%;
		@include media-breakpoint-up(md) {
			bottom: -10%;
			right: -13%;

		}
		@include media-breakpoint-up(lg) {
			width: rem(430);
			height: rem(430);
			bottom: -10%;
			right: -8%;
		}
		@include media-breakpoint-up(xl) {
			width: rem(590);
			height: rem(590);
			bottom: -15%;
			right: -8%;
		}

	}
	.section-title {
		position: relative;
		z-index: 2;
		h2 {
			@include media-breakpoint-up(md) {
				max-width: 19.6em;
			}
			@include media-breakpoint-up(lg) {
				max-width: 20.6em;
			}
			@include media-breakpoint-up(xl) {
				max-width: 17.6em;
			}
			@include media-breakpoint-up(xxl) {
				max-width: 20.6em;
			}
		}
	}
	.container--slider {
		position: relative;
		@include media-breakpoint-down(lg) {
			max-width: 100%;
			padding: 0;
		}
		.bg-text {
			color: rgba(255, 255, 255, 0.06);
			font-size: rem(100);
			@include media-breakpoint-up(sm) {
				font-size: rem(120);
			}
			@include media-breakpoint-up(xl) {
				font-size: rem(165);
			}
			@include media-breakpoint-up(xxl) {
				font-size: rem(180);
			}
			&--first {
				bottom: 97%;
				right: 0;
				@include media-breakpoint-up(xxxl) {
					right: rem(-60);
				}
			}
			&--second {
				left: 0;
				top: 100%;
				@media (min-width: 920px) {
					top: 98%;
				}
				@include media-breakpoint-up(xxxl) {
					left: rem(-60);
				}
			}
		}
	}

	&__arrows {
		display: flex;
		align-items: center;
		justify-content: center;
		@include media-breakpoint-down(sm) {
			margin-top: calc(var(--swiperArrowSize) / 3);
		}
		.swiper-button-hand {
			// &-next {
			// 	right: var(--swiperArrowPosition);
			// }

			// &-prev {
			// 	left: var(--swiperArrowPosition);
			// }
			@include media-breakpoint-down(sm) {
				position: relative;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				margin-left: calc(var(--swiperArrowSize) / 6);
				margin-right: calc(var(--swiperArrowSize) / 6);
			}
		}
	}

	&__btn-wrap {
		text-align: center;
		position: relative;
		z-index: 3;
		margin-top: rem(125);
		@media (min-width: 920px) {
			margin-top: rem(50);
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sProjects

@mixin center() {
	display: flex;
	justify-content: center;
	align-items: center;
}

.before-after {
	position: relative;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #f6f7fa;
	overflow: hidden;
	@include block(960, 660);
	@include media-breakpoint-up(sm) {
		@include block(960, 510);
	}
	// overflow: hidden;
	&__item {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		picture {
			overflow: hidden;
			border-radius: 0;
			// width: 774px;
		}
		&.foreground-img {
			// z-index: 2;
			width: 50%;
		}
	}
	.slider-ba {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;
	}
}

.slider-ba {
	position: absolute;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 100%;
	background: transparent;
	outline: none;
	margin: 0;
	transition: all 0.2s;
	@include center;

	--lineW: 2px;
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: var(--lineW);
		height: 1000px;
		background: white;
		cursor: pointer;
	}

	&::-moz-range-thumb {
		width: var(--lineW);
		height: 1000px;
		background: white;
		cursor: pointer;
	}
	&:hover {
		& + .slider-button {
			opacity: 1;
			.icon {
				color: $primary;
			}
		}
	}
}

.slider-button {
	pointer-events: none;
	user-select: none;
	position: absolute;
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 1px solid var(--swiperBorderColorDef);
	position: relative;
	color: var(--swiperColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	background-image: none;
	margin: 0;
	transition: opacity 0.25s ease-in-out, color 0.25s ease-in-out;
	@include a-cent(y);
	left: calc(50% - var(--swiperArrowSize) / 2);
	@include center;
	opacity: 0.6;
	.icon {
		font-size: rem(20);
		@include media-breakpoint-up(xxl) {
			font-size: rem(24);
		}
		&-chevron-left {
			margin-right: 12%;
		}
		&-chevron-right {
			margin-left: 12%;
		}
	}
}
