mixin sWelcome(data)
	// start sWelcome
	+b.SECTION.sWelcome.section#sWelcome&attributes(attributes)
		.container
			+b.bg-text team
			.row
				.col-lg-6
					+e.content
						h2 Добро пожаловать <br> в N-cube
						+e.text
							p Меня зовут Николай Николаев <br> Я&nbsp;дизайнер и&nbsp;арт директор дизайн студии N-cube

							p N-cube&nbsp;&dash; это мой личный проект, который успешно работает с&nbsp;2010 года и&nbsp;состоит из&nbsp;сплоченной команды талантливых дизайнеров и&nbsp;архитекторов, работающих с&nbsp;вдохновением и&nbsp;азартом, а&nbsp;также грамотных строителей и&nbsp;надежных, ответственных поставщиков материалов и&nbsp;услуг.

							p Мы&nbsp;занимаемся полным циклом создания жилых интерьеров &laquo;под ключ&raquo;, начиная от&nbsp;профессиональной консультации до&nbsp;комплексной разработки дизайн проекта, включая его реализацию, согласование перепланировки, оснащение мебелью и&nbsp;аксессуарами

							p Моя 18&nbsp;летняя практика и&nbsp;накопленный опыт позволяют нам создавать и&nbsp;реализовывать уникальные и&nbsp;по&nbsp;своему штучные дизайн проекты любой сложности, метража и&nbsp;местоположения

							p Главная наша цель и&nbsp;задача&nbsp;&mdash; создать уникальное, практичное, удобное и&nbsp;экологичное пространство для вас и&nbsp;вашей семьи
						+e.btn-wrap
							+btn-round('#', 'play-button')
							.strong Смотреть
								nobr видео-обращение
				.col-lg-6
					+e.img-wrap
						+e.caption
							+e.name Николай Николаев
							+e.position Дизайнер и арт директор
						+pic(`welcome.png`,'', 0)
	// end sWelcome