mixin sVariants(data)
	// start sVariants
	+b.SECTION.sVariants.section#sVariants&attributes(attributes)
		.container
			+b.section-title.text-center
				.title Мы&nbsp;предлагаем несколько вариантов ведения проекта
			.row
				+variant-card(`Start <span>C</span>ube`,`2&nbsp;000`,`1`,`замеры и фотофиксация пространства`,`обмерный план`,`разработка планировочного решения`,`план демонтажа/монтажа стен и перегородок`,`план привязки сантехнического оборудования`,`план расположения светильников`,`план привязки выключателей + описание`,`план размещения розеток и электровыводов`)
				+variant-card(`Project <span>C</span>ube`,`3&nbsp;500`,`2`,`замеры и&nbsp;фотофиксация пространства`,`обмерный план`,`разработка планировочного решения`,`план демонтажа/монтажа стен и&nbsp;перегородок`,`подбор отделочных материалов и&nbsp;мебели`,`3D&nbsp;визуализация всех помещений`,`план привязки сантехнического оборудования`,`план размещения и&nbsp;схема открывания дверей`,`план полов`,`план размещения теплых полов и&nbsp;отопительных приборов`)
				+variant-card(`Project <span>C</span>ube +`,`6&nbsp;500`,`3`,`замеры и фотофиксация пространства`,`обмерный план`,`разработка планировочного решения`,`план демонтажа/монтажа стен и перегородок`,`подбор отделочных материалов и мебели`,`3D визуализация всех помещений`,`план привязки сантехнического оборудования`,`план размещения и схема открывания дверей`,`план полов`,`план размещения теплых полов и отопительных приборов`,`план потолков`,`план расположения светильников`)
				+variant-card(`Maxi <span>C</span>ube`,`9&nbsp;900`,`4`,`замеры и фотофиксация пространства`,`обмерный план`,`разработка планировочного решения`,`план демонтажа/монтажа стен и перегородок`,`подбор отделочных материалов и мебели`,`3D визуализация всех помещений`,`план привязки сантехнического оборудования`,`план размещения и схема открывания дверей`,`план полов`,`план размещения теплых полов и отопительных приборов`,`план потолков`,`план расположения светильников`,`план привязки выключателей + описание`,`план размещения розеток и электровыводов`)
			.decorative-circle
			.decorative-line1.decorative-line
			.decorative-line2.decorative-line
	// end sVariants

mixin variant-card(title,price,bg,...items)
	.col-lg-3.col-md-6.col-12
		+b.variant-card.bg-wrap
			+e.wrap
				+e.title!=title
				//- +e.title Start <span>C</span>ube
				+e.price!=`от&nbsp;${price} руб./кв.м`
				//- +e.price от&nbsp;2&nbsp;000 руб./кв.м
				+e.UL.list
					each item in items
						li!=item
					//- li замеры и фотофиксация пространства
					//- li обмерный план
					//- li разработка планировочного решения
					//- li план демонтажа/монтажа стен и перегородок
					//- li план привязки сантехнического оборудования 
					//- li план расположения светильников
					//- li план привязки выключателей + описание
					//- li план размещения розеток и электровыводов
				+e.more(href="#") Подробнее
			+pic(`variants-card-${bg}.png`,'bg',0).bg-card