// start .sVariants
.sVariants {
	position: relative;
	z-index: 2;
	background-color: #f2f2f2;
	// --sPT: ;
	--sPB: #{rem(140)};
	--sTPB: 32px;
	@include media-breakpoint-up(xxxl) {
		--sTPB: #{rem(23)};
	}
	@include media-breakpoint-up(md) {
		--sTPB: 20px;
		--sPT: #{rem(89)};
	}
	.container {
		position: relative;
	}
	h1 {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		text-transform: uppercase;
		font-size: 28px;
		line-height: 34px;
		@include media-breakpoint-up(xxxl) {
			max-width: rem(820);
			font-size: rem(46);
			line-height: rem(56);
		}
		@include media-breakpoint-up(md) {
			max-width: 600px;
			font-size: 33px;
			line-height: 40px;
		}
	}
	.row {
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(40)};
		}
		@include media-breakpoint-down(lg) {
			--bs-gutter-y: 32px;
		}
	}
	.decorative-circle {
		z-index: 1;
		@include media-breakpoint-up(xxl) {
			width: rem(484);
			height: rem(484);
			top: 78px;
			right: -88px;
		}
		@include media-breakpoint-up(xl) {
			width: 352px;
			height: 352px;
			top: 58px;
			right: -58px;
		}
		@include media-breakpoint-up(lg) {
			width: 260px;
			height: 260px;
			top: 57px;
			right: -8px;
		}
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
	.decorative-line {
		&--first {
			width: 1px;
			z-index: -1;
			@include media-breakpoint-up(xxl) {
				height: 120%;
				top: rem(-23);
				left: rem(535);
			}
			@include media-breakpoint-up(xl) {
				height: 123%;
				top: -20px;
				left: 394px;
			}
			@include media-breakpoint-up(lg) {
				height: 123%;
				top: -20px;
				left: 335px;
			}
		}
		&--second {
			width: 100%;
			height: 1px;
			z-index: -1;
			@include media-breakpoint-up(xxxl) {
				width: 98%;
				left: rem(15);
				bottom: -78px;
			}
			@include media-breakpoint-up(xxl) {
				bottom: -70px;
				width: 98%;
				left: rem(15);
			}
			@include media-breakpoint-up(xl) {
				bottom: -70px;
				width: 97.223%;
				left: rem(15);
			}
			@include media-breakpoint-up(lg) {
				bottom: -70px;
				width: 97.223%;
				left: rem(15);
			}
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
	}
} // end.sVariants

.variant-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	backdrop-filter: blur(50px);
	min-height: 900px;
	@include media-breakpoint-up(xxl) {
		height: rem(1114);
	}
	@include media-breakpoint-up(lg) {
		min-height: 821px;
	}
	// .bg-card{
	// 	flex-grow: 1;
	// 	overflow: hidden;
	// 	position: relative;
	// 	z-index: -10;
	// 	bottom: 0;
	// 	left: 0;
	// 	&::before{
	// 			content:'';
	// 		width: 100%;
	// 		height: 100%;
	// 		position: absolute;
	// 		top: 0;
	// 		left: 0;
	// 		background: linear-gradient(0deg, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%);
	// 	}
	.bg-card {
		width: 100%;
		max-height: 100%;
		overflow: hidden;
		position: absolute;
		z-index: -10;
		bottom: 0;
		left: 0;
		// &::before{
		// 		content:'';
		// 	width: 100%;
		// 	height: 100%;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
		// 	// @include media-breakpoint-down(xxl){
		// 	// 	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 100%);
		// 	// }
		// }
	}
	&__wrap {
		position: relative;
		padding-top: rem(38);
		padding-left: 38px;
		padding-right: 24px;
		padding-bottom: 75px;
		@include media-breakpoint-up(xxl) {
			padding-left: rem(38);
			padding-right: rem(24);
			padding-bottom: rem(90);
		}
		@include media-breakpoint-up(lg) {
			padding-bottom: 75px;
		}
		@include media-breakpoint-up(md) {
			padding-left: 30px;
			padding-right: 24px;
			padding-bottom: 65px;
		}
		p{}
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 3;
			background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 19%);
			// @include media-breakpoint-down(xxl){
			// 	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%);
			// }
		}
		ul {
			list-style-type: none;
			padding-left: 16px;
			@include media-breakpoint-up(md) {
				padding-left: rem(17);
			}
			li {
				position: relative;
				color: #464646;
				font-size: 14px;
				line-height: 17px;
				@include media-breakpoint-up(xxl) {
					line-height: rem(20);
					font-size: rem(16);
				}
				@include media-breakpoint-up(lg) {
					font-size: 11px;
					line-height: 13px;
				}
				@include media-breakpoint-only(sm) {
					line-height: 25px;
				}
				&::before {
					content: "";
					width: 2px;
					height: 2px;
					background-color: #464646;
					position: absolute;
					top: 9px;
					left: -11px;
					@include media-breakpoint-up(xxl) {
						top: rem(11);
						left: rem(-13);
					}
					@include media-breakpoint-up(lg) {
						top: 6px;
						left: -10px;
					}
					@include media-breakpoint-only(sm) {
						top: 13px;
						left: -10px;
					}
				}
			}
		}
	}
	&__wrap > * {
		position: relative;
		z-index: 3;
	}
	&__title {
		font-weight: bold;
		text-transform: uppercase;
		color: #535353;
		font-size: 27px;
		padding-bottom: 18px;
		@include media-breakpoint-up(xxl) {
			font-size: rem(27);
		}
		@include media-breakpoint-up(md) {
			font-size: 20px;
			line-height: rem(33);
			padding-bottom: rem(18);
		}
		span {
			color: #ef7f1a;
		}
	}
	&__price {
		font-size: 22px;
		line-height: 27px;
		color: #535353;
		padding-bottom: 15px;
		@include media-breakpoint-up(xxl) {
			padding-bottom: rem(22);
			font-size: rem(22);
			line-height: rem(27);
		}
		@include media-breakpoint-up(md) {
			padding-bottom: rem(22);
			font-size: 16px;
			line-height: 20px;
		}
	}
	&__more {
		display: inline-block;
		color: #ef7f1a;
		border-bottom: 1px solid #ef7f1a;
		font-size: 16px;
		line-height: 20px;
		padding-top: 10px;
		@include media-breakpoint-up(xxl) {
			font-size: rem(16);
			line-height: rem(20);
			padding-top: rem(10);
		}
		@include media-breakpoint-up(md) {
			font-size: 12px;
			line-height: 15px;
			padding-top: 8px;
		}
	}
}
.modal-project1,.modal-project2,.modal-maxi{
	@include media-breakpoint-down(sm){
		.main-info{
			min-height: 1100px;
		}
	}
}
.modal-win {
	&__bg-card {
		flex-grow: 1;
		overflow: hidden;
		// box-shadow: inset 0px 56px 65px #FFFFFF;
		// z-index: -10;
		bottom: 0;
		left: 0;
	}
	&--services {
		padding: 0;
		max-width: 320px;
		@include media-breakpoint-up(xxl) {
			max-width: rem(1300);
			height: rem(890);
		}
		@include media-breakpoint-up(xl) {
			height: 650px;
		}
		@include media-breakpoint-up(lg) {
			max-width: 100%;
			height: 650px;
		}
		@include media-breakpoint-down(lg) {
			max-width: 530px;
		}
		@include media-breakpoint-down(md) {
			max-width: 440px;
		}
		@include media-breakpoint-down(sm){
			max-width: 320px;
		}
		.bg-text {
			color: rgba(208, 208, 208, 0.2);
			text-align: center;
			width: 100%;
			text-align: center;
			width: 100%;
			@include media-breakpoint-up(xxxl) {
				font-size: 180px;
				line-height: 166px;
				bottom: 50px;
			}
			@include media-breakpoint-up(xxl) {
				// top: 600px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 132px;
				line-height: 121px;
				bottom: 28px;
			}
			@include media-breakpoint-down(lg) {
				font-size: 110px;
				line-height: 92%;
				bottom: 45px;
				// top: 83%;
				// left: 50%;
				// transform: translate(-50%, 0);
				width: auto;
				max-width: 100%;
				text-overflow: clip;
				overflow: hidden;
			}
			@include media-breakpoint-between(md, lg) {
				left: 50%;
				transform: translate(-50%, 0);
			}
		}
		.is-close {
			@include media-breakpoint-up(xxl) {
				top: 61px !important;
				right: 71px !important;
			}
			@include media-breakpoint-up(lg) {
				top: 43px !important;
				right: 51px !important;
			}
			@include media-breakpoint-down(lg) {
				top: 31px !important;
				right: 19px !important;
			}
			svg {
				@include media-breakpoint-up(xxl) {
					width: 32px;
					height: 32px;
				}
				@include media-breakpoint-up(lg) {
					width: 22px;
					height: 22px;
				}
				@include media-breakpoint-down(lg) {
					width: 24px;
					height: 24px;
					stroke: #5a5a5a;
				}
			}
		}
		.modal-wrap {
			display: flex;
			width: 100%;
			height: 100%;
			@include media-breakpoint-down(lg) {
				flex-direction: column;
			}
		}
		.main-info {
			display: flex;
			flex-direction: column;
			position: relative;
			width: 100%;
			height: 100%;
			background-color: #fff;
			@include media-breakpoint-up(lg) {
				width: 53.7%;
			}
			@include media-breakpoint-down(lg) {
				min-height: 690px;
			}
			&__wrap {
				position: relative;
				@include media-breakpoint-up(lg) {
					padding-top: rem(64);
					padding-left: rem(85);
					padding-right: rem(30);
					// padding-bottom: rem(40);
				}
				@include media-breakpoint-down(lg) {
					padding-top: 34px;
					padding-left: 30px;
					padding-right: 40px;
				}
				&::before {
					content: "";
					width: 100%;
					height: 140%;
					position: absolute;
					top: 0;
					left: 0;
					background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 28%);
					z-index: 3;
					// @include media-breakpoint-down(xxl){
					// 	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%);
					// }
				}
				h2 {
					text-transform: uppercase;
					color: #000000;
					font-size: 24px;
					padding-bottom: 13px;
					@include media-breakpoint-up(xxl) {
						font-size: rem(24);
						line-height: rem(29);
					}
					@include media-breakpoint-up(lg) {
						font-size: 20px;
						line-height: 24px;
						padding-bottom: rem(40);
					}
					@include media-breakpoint-down(sm) {
						max-width: 80%;
					}
					span {
						color: #ef7f1a;
					}
				}
				ul {
					list-style-type: none;
					padding-left: 16px;
					@include media-breakpoint-up(lg) {
						padding-left: rem(17);
					}
					li {
						position: relative;
						color: #464646;
						font-size: 14px;
						line-height: 17px;
						@include media-breakpoint-up(xxl) {
							line-height: rem(20);
							font-size: rem(16);
						}
						@include media-breakpoint-up(lg) {
							font-size: 11px;
							line-height: 13px;
						}
						@include media-breakpoint-only(sm) {
							// line-height: 25px;
						}
						&::before {
							content: "";
							width: 2px;
							height: 2px;
							background-color: #464646;
							position: absolute;
							top: 9px;
							left: -11px;
							@include media-breakpoint-up(xxl) {
								top: rem(11);
								left: rem(-13);
							}
							@include media-breakpoint-up(lg) {
								top: 6px;
								left: -10px;
							}
							@include media-breakpoint-only(sm) {
								top: 13px;
								left: -10px;
							}
						}
					}
				}
			}
			&__wrap > * {
				position: relative;
				z-index: 3;
			}
		}
		.add-info {
			width: 100%;
			height: 100%;
			background-color: #5a5a5a;
			font-weight: 300;
			@include media-breakpoint-up(xxl) {
				padding-top: rem(130);
				padding-left: rem(100);
				padding-right: rem(183);
			}
			@include media-breakpoint-up(lg) {
				padding-top: 95px;
				padding-left: 73px;
				padding-right: 133px;
				width: 46.31%;
			}
			@include media-breakpoint-down(lg) {
				min-height: 740px;
				padding-top: 51px;
				padding-left: 41px;
				padding-right: 42px;
				padding-bottom: 280px;
			}
		}
	}
	&__variant-caption {
		color: $white;
		font-size: 14px;
		line-height: 17px;
		@include media-breakpoint-up(xxl) {
			font-size: rem(16);
			line-height: rem(20);
			padding-bottom: rem(31);
		}
		@include media-breakpoint-up(lg) {
			font-size: 12px;
			line-height: 15px;
			padding-bottom: 31px;
		}
		p {
			margin-bottom: rem(10);
		}
	}
	&__example {
		color: #ef7f1a;
		border-bottom: 1px solid #ef7f1a;
		display: inline-block;
		font-size: 16px;
		line-height: 20px;
		@include media-breakpoint-up(xxl) {
			font-size: rem(16);
			line-height: rem(20);
		}
		@include media-breakpoint-up(lg) {
			font-size: 12px;
			line-height: 15px;
		}
		@include media-breakpoint-down(lg) {
			padding-top: 20px;
		}
	}
}
@media (max-width: 440px) {
	.modal-win__list li {
		font-size: 11px;
	}
	.modal-win__bg-card {
		min-height: 200px;
	}
	.modal-win--services .main-info__wrap:before {
		background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 21%);
		height: 130%;
	}
}
.fancybox__slide {
	@include media-breakpoint-down(xxl) {
		padding: 32px 50px;
	}
	@include media-breakpoint-down(lg) {
		padding-top: 0;
		padding-bottom: 0;
	}
}
