mixin sVariants(data)
	// start sVariants
	+b.SECTION.sVariants.section#sVariants&attributes(attributes)
		.container
			+b.section-title.text-center
				.title Мы&nbsp;предлагаем несколько вариантов ведения проекта
			.row
	// end sVariants