mixin sArticleImages(data)
	// start sArticleImages
	+b.sArticleImages.section#sArticleImages&attributes(attributes)
		.container
			.row
				- for (var x = 0; x < 4; x++)
					+e.col.col-lg-3.col-12(class="animate__fadeInUp animate__animated wow"  )
						a(data-fancybox="responsive" data-src="img/@2x/some-article.jpg")
							+pic(`some-article.jpg`,'', '')
	// end sArticleImages