mixin sArticleImages(data)
	// start sArticleImages
	+b.sArticleImages.section#sArticleImages&attributes(attributes)
		.container
			.row
				+e.col.col-lg-3.col-12
					a(data-fancybox="responsive" data-src="img/@2x/some-article.jpg")
						+pic(`some-article.jpg`,'', '')
				+e.col.col-lg-3.col-12
					a(data-fancybox="responsive" data-src="img/@2x/some-article.jpg")
						+pic(`some-article.jpg`,'', '')
				+e.col.col-lg-3.col-12
					a(data-fancybox="responsive" data-src="img/@2x/some-article.jpg")
						+pic(`some-article.jpg`,'', '')
				+e.col.col-lg-3.col-12
					a(data-fancybox="responsive" data-src="img/@2x/some-article.jpg")
						+pic(`some-article.jpg`,'', '')
	// end sArticleImages