mixin sArticleImages(data)
	// start sArticleImages
	+b.sArticleImages.section#sArticleImages&attributes(attributes)
		.container
			.row
				+e.col.col-lg-3.col-12
					+pic(`some-article.jpg`,'', '')
				+e.col.col-lg-3.col-12
					+pic(`some-article.jpg`,'', '')
				+e.col.col-lg-3.col-12
					+pic(`some-article.jpg`,'', '')
				+e.col.col-lg-3.col-12
					+pic(`some-article.jpg`,'', '')
	// end sArticleImages