mixin sArticleBody(data)
	// start sArticleBody
	+b.sArticleBody.section#sArticleBody&attributes(attributes)
		.container
			mixin item()
				.row(class="animate__fadeInUp animate__animated wow"  )
					.col-lg-6.order-1.order-lg-0
						+e.content
							+e.caption Мы&nbsp;занимаемся полным циклом создания жилых интерьеров "под ключ", начиная от&nbsp;профессиональной консультации до&nbsp;комплексной разработки дизайн проекта, включая его реализацию, согласование перепланировки, оснащение мебелью и&nbsp;аксессуарами<br />Многолетняя практика и&nbsp;накопленный опыт позволяют нам создавать и&nbsp;реализовывать уникальные и&nbsp;по&nbsp;своему штучные дизайн проекты любой сложности, метража и&nbsp;местоположения.<br /><br />Сейчас мы&nbsp;берём в&nbsp;работу только частные дома и&nbsp;квартиры, но раньше&nbsp;делали много коммерческой недвижимости. Офисы, банки, рестораны, дома отдыха, различные спа, салоны красоты и спортивные&nbsp;клубы, был даже в&nbsp;нашей практике опыт разработки дизайна отеля в&nbsp;Сочи. <br /><br />Но&nbsp;в&nbsp;итоге, поработав с&nbsp;разным уровнем объектов, мы&nbsp;поняли, что нам интереснее воплощать свои мысли и&nbsp;идеи в&nbsp;жилой недвижимости, создавать и&nbsp;реализовывать дизайн проекты домов и&nbsp;квартир <br />Во&nbsp;время нашего с&nbsp;вами сотрудничества мы&nbsp;берем на&nbsp;себя решение всех вопросов, поэтому &laquo;головная боль&raquo; во&nbsp;время ремонта будет у&nbsp;вас минимальной! <br /><br />Главная наша цель и&nbsp;задача&nbsp;- создать уникальное, практичное, удобное&nbsp;и&nbsp;экологичное пространство для вас и&nbsp;вашей семьи
							block
					+e.col.col-12.col-sm.order-0.order-lg-1
						+pic(`some-article.jpg`,'bg', '')
			+item()
			+item()
	// end sArticleBody