extends layout/main.pug

include ../blocks/sDescription/_sDescription.pug
include ../blocks/sDreamHouse/_sDreamHouse.pug
include ../blocks/sPublications/_sPublications.pug
include ../blocks/sCallForm/_sCallForm.pug
include ../blocks/sBestWorks/_sBestWorks.pug

block variables
	- let  mainPage= 'about' 
	- let  bg= "about.jpg"

block title
	- let  title= 'О студии'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+top-nav()
	+breadcrumb('Главная',title)
	+sDescription()
	+sDreamHouse()
	+sPublications()
<<<<<<< HEAD:sourse/pug/pages/about.pug
	+sBestWorks()
	+sCallForm()
=======
	+sCallForm(1)
>>>>>>> a8e3f956e10abbdd63117591f6ba5ef91ac77412:sourse/pug/pages/03-about.pug
	+footer()



