extends layout/main.pug


include ../blocks/sTimeline/_sTimeline.pug

block variables
	- let  mainPage= 'timeline' 
	- let  bg= "timeline.jpg"

block title
	- let  title= 'Таймлайн'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+top-nav()
	+breadcrumb('Главная',title)
	+sTimeline1()
	+sTimeline2()
	+footer()



