extends layout/main.pug

include ../blocks/sContact/_sContact.pug
//- include ../blocks/sWelcome/_sWelcome.pug
//- include ../blocks/sProjects/_sProjects.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sOptions/_sOptions.pug
include ../blocks/sReviews/_sReviews.pug
//- include ../blocks/sSocialMedia/_sSocialMedia.pug
//- include ../blocks/sFaq/_sFaq.pug
include ../blocks/sCallForm/_sCallForm.pug

block variables
	- let  mainPage= 'reviews' 
	- let  bg= "reviews.jpg"

block title
	- let  title= 'Отзывы'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+top-nav()
	+breadcrumb('Главная',title)
	+sReviews-inner(`Узнайте, почему нам доверяют самое дорогое`)
		+sReviews-item(``, {image: 1, name: `Чернилевский Денис`, adress: `Большой Саввинский переулок`})
			p Заказывал у&nbsp;Николая дизайн-проект и&nbsp;авторский надзор в&nbsp;процессе ремонта. Хочу сказать большой спасибо за&nbsp;продуктивное сотрудничество на&nbsp;всех стадиях выполненного проекта. <br> Удивило&nbsp;то, как удачно получилось воплотить в&nbsp;дизайн проекте все мои внутренние хотелки. Когда общались в&nbsp;самом начале и&nbsp;рассматривали варианты того, что мне нравится, я&nbsp;просто отправил 3&nbsp;разных варианта цветовой гаммы и&nbsp;сочетаний материалов, думая, что Николай выберет только один из&nbsp;них, а&nbsp;уж&nbsp;никак не&nbsp;соберет всё это в&nbsp;один проект. Но&nbsp;это удалось, и&nbsp;получилось настолько круто, что я&nbsp;даже и&nbsp;представить себе не&nbsp;мог! Уже полгода не&nbsp;перестаю наслаждаться своим ремонтом и&nbsp;Николай в&nbsp;этом виноват на&nbsp;все 100%!
		+sReviews-item(``, {image: 2, name: `Вишневский Виталий`, adress: `ЖК&nbsp;Итальянский квартал`})
			p Выражаем Николаю искреннюю благодарность и&nbsp;глубокую признательность за&nbsp;сотрудничество и&nbsp;отличный результат в&nbsp;оказании высококачественной работы в&nbsp;разработке дизайн проекта и&nbsp;его реализации. <br> Был сформирован бюджет, грамотно велись все финансовые вопросы. Полный контроль за&nbsp;строителями на&nbsp;всех этапах ремонта. Оформление и&nbsp;организация доставки всех материалов по&nbsp;ремонту, мебели, освещению т.д.
			p Мы&nbsp;приобрели отличный опыт, а&nbsp;главное результат в&nbsp;сотрудничестве с&nbsp;Николаем, так как в&nbsp;сферу своей профессиональной деятельности не&nbsp;могли присутствовать в&nbsp;Москве, все вопросы решались удаленно. Последняя наша встреча перед началом всех работ проходила в&nbsp;квартире с&nbsp;черновой отделкой. Спустя 9&nbsp;месяцев Николай вручил нам ключи от&nbsp;реализованного проекта, который был сделан согласно дизайн проекту и&nbsp;согласованному бюджету. Спасибо за&nbsp;гарантированное выполнение взятых на&nbsp;себя обязательств. Желаем Вашей компании дальнейшего развития, процветания, новых оригинальных идей, вдохновения и&nbsp;неисчерпаемого оптимизма!
		+sReviews-item(``, {image: 3, name: `Дмитрий`, adress: `Дизайн квартиры в&nbsp;ЖК&nbsp;&laquo;Правый берег&raquo;`})
			p Нашел данную дизайн студию через интернет. Признаюсь, понравился профессиональный подход в&nbsp;работе по&nbsp;итогам просмотра портфолио. Встретившись с&nbsp;Николаем и&nbsp;обсудив мое видение, пожелания по&nbsp;проекту перешли к&nbsp;конструктивному диалогу в&nbsp;части наполнения работы и&nbsp;этапов формирования проекта, по&nbsp;итогамбеседы четко решил остановиться на&nbsp;данной Компании. Считаю себя довольн привередливым заказчиком, но&nbsp;ребята со&nbsp;всеми &laquo;хотелками&raquo; справились на&nbsp;&laquo;ура&raquo;, при этом зачастую отстаивая свою точку зрения. В&nbsp;итоге обратился повторно по&nbsp;состевлению дизайн-проекта для еще иного объекта. Рекомендую всем знакомым и&nbsp;друзьям, а&nbsp;так&nbsp;же Вам.
			p Коля, ты&nbsp;большой молодец! Крепко жму руку! Удачи и&nbsp;бурного развития!!!
		+sReviews-item(``, {image: 4, name: `Ковальская Ольга`, adress: `Дизайн-проект квартиры в&nbsp;ЖК&nbsp;&laquo;Скайфорт&raquo;`})
			p Очень довольна работой с&nbsp;Николаем Николаевым и&nbsp;дизайн-студией интерьеров Н-куб. <br> Во-первых, удалось воплотить все идеи и&nbsp;пожелания в&nbsp;тщательно проработанном дизайн-проекте. <br> Во-вторых, реализовать данный проект на&nbsp;объекте с&nbsp;большой степенью точности. <br> В-третьих, было предложено много оригинальных и&nbsp;удобных с&nbsp;практической стороны решений.
			p Помимо дизайн-проекта заказывал ещё и&nbsp;авторский надзор, которым также остались довольны в&nbsp;полной мере. Николай помогал подбирать все материалы и&nbsp;предметы интерьера, рекомендовал подрядчиков, оформлял заказы, организовал встречи на&nbsp;объекте. Все подрядчики проверенные и&nbsp;надежные, рекомендованные менеджеры и&nbsp;представители данных компаний, тоже были профессионалы, заминок не&nbsp;было. Это избавило меня от&nbsp;многочисленных и&nbsp;мучительных поисков, отборов, поездок и&nbsp;т.д.
			p Так&nbsp;же спасибо за&nbsp;терпение, порой необходимо было еще раз что-то перевыбрать, переделать, подобрать, придумать.
		+sReviews-item(``, {image: 5, name: `Денис`, adress: `Дизайн-проект интерьера квартиры в&nbsp;Люберцах`})
			p Не&nbsp;думал, что поиск дизайнера такое сложное дело. При поиске обнаружилось, что у&nbsp;большинства дизайнеров отсутствует взаимодействие с&nbsp;прорабом, строй бригадой, и&nbsp;их&nbsp;работа заканчивалась на&nbsp;эскизах и&nbsp;чертежах. После мучительных поисков я&nbsp;наткнулся на&nbsp;работы компании Н-куб и&nbsp;в&nbsp;частности на&nbsp;Николая, уже по&nbsp;фото было видно, что человек профессионал. Созвонились, посмотрели объект, обсудили детали, подписали договор, обсудили планировку, желаемый дизайн, и&nbsp;график выполнения работ.
			p По&nbsp;истечению времени мы&nbsp;получили на&nbsp;руки 2&nbsp;альбома со&nbsp;всеми развертками, чертежами и&nbsp;визуализацией, я&nbsp;был потрясен как так четко можно уловить желания заказчика и&nbsp;перенести это на&nbsp;бумагу.
			p Дальше больше) данный дизайнер находился на&nbsp;объекте на&nbsp;протяжении всего рабочего процесса, это очень важно когда ты&nbsp;занят на&nbsp;работе чтобы тебя не&nbsp;отвлекали с&nbsp;вопросами, а&nbsp;как тут сделать, а&nbsp;как там, все эти вопросы строители обсуждали непосредственно с&nbsp;дизайнером.
			p На&nbsp;протяжении всего процесса ремонта дизайнер сообщал за&nbsp;ранее о&nbsp;необходимости приобретения тех или иных материалов начиная от&nbsp;смесителя заканчивая лампочкой, предлагал различные варианты материалов на&nbsp;выбор не&nbsp;выходя за&nbsp;рамки проекта.
			p И&nbsp;последнее, когда ремонт был окончен, сходство готового проекта с&nbsp;разработанным было на&nbsp;99%. <br> Если у&nbsp;Вас нет свободного времени, вы&nbsp;хотите получить качественный ремонт и&nbsp;диалог с&nbsp;дизайнером на&nbsp;протяжении всего проекта, я&nbsp;не&nbsp;знаю дизайнера лучше.
			p В&nbsp;следующий раз без раздумий буду обращаться именно к&nbsp;Николаю, как я&nbsp;считаю профессионалу своего дела.
		+sReviews-item(``, {image: 6, name: `Светлана`, adress: `Дизайн-проект квартиры в&nbsp;ЖК&nbsp;&laquo;Триколор&raquo;`})
			p Встретить своего дизайнера&nbsp;&mdash; это большая удача! С&nbsp;Николаем мне очень повезло. Было очень легко работать и&nbsp;подбирать варианты для создания и&nbsp;обустройства нашего нового дома. Очень дотошный к&nbsp;деталям, внимательный к&nbsp;пожеланиям, он&nbsp;сумел скорее почувствовать, чем понять&nbsp;то, что я&nbsp;хочу увидеть в&nbsp;итоге. Не&nbsp;всегда вербально можно изобразить мечту, а&nbsp;Николаю удалось из&nbsp;моих сумбурных мыслей создать образ квартиры моей мечты. Очень точные и&nbsp;технически грамотные чертежи стали лёгкой инструкцией для бригады строителей, не&nbsp;требующей подгонок и&nbsp;правок. Четкий план по&nbsp;подбору материалов и&nbsp;этапам ремонта, а&nbsp;он&nbsp;был полный, начиная с&nbsp;возведения стен, до&nbsp;последней лампочки, помог мне справиться со&nbsp;всеми трудностями ремонта и&nbsp;превратить его в&nbsp;лёгкий творческий процесс. Смело могу порекомендовать с&nbsp;пожеланиями тесного и&nbsp;плодотворного сотрудничества!
		+sReviews-item(``, {image: 7, name: `СпецСетьСтройБанк`, adress: `Дизайн главного офиса с&nbsp;Москве`})
			p Коммерческий Банк &laquo;СПЕЦСЕТЬСТРОЙБАНК&raquo; (Общество с&nbsp;ограниченной ответственностью), в&nbsp;лице начальника управления реклама и&nbsp;маркетинга Гозман Аллы Владимировны, искренне благодарит коллектив студии &laquo;Н-куб&raquo; в&nbsp;лице Николева Николая за&nbsp;проделанную работу по&nbsp;разработке дизайна интерьера Главного офиса банка в&nbsp;Москве на&nbsp;ул. Балчуг, д. 3/2.
			p Николай грамотно, на&nbsp;высоком и&nbsp;профессиональном уровне воплотил все идеи и&nbsp;пожелания. Особенно, хотим отметить творческий подход, гибкость и&nbsp;способность к&nbsp;оперативным нестандартным решениям в&nbsp;реализации поставленных заказчиком задач.
			p Благодарим вас за&nbsp;хорошо организованную и&nbsp;выполненную работу.
		+sReviews-item(`p`, {name: `Светлана`, adress: `Дизайн-проект квартиры`, name2: `Евгений и&nbsp;Екатерина`, adress2: `Дизайн двухкомнатной квартиры`})
			p Хочу искренне поблагодарить и&nbsp;сказать спасибо Дизайн студии Н-куб за&nbsp;замечательный дизайн-проект моей квартиры! С&nbsp;Николаем с&nbsp;первых минут возникло взаимопонимание, все предложения по&nbsp;планировке, выбору материалов и&nbsp;расстановке мебели, цветовой гамме идеально совпали с&nbsp;моим представлениями и&nbsp;пожеланиями. Ответственный подход во&nbsp;всем, соблюдение сроков, что не&nbsp;мало важно в&nbsp;наше время! Креативное видение, грамотная подача материалов на&nbsp;всех стадиях проекта.
			p Сейчас в&nbsp;квартире идет ремонт, закупаются материалы, Николай по&nbsp;моей просьбе всегда выезжает со&nbsp;мной в&nbsp;магазины, помогает с&nbsp;выбором.
			p Спасибо огромное.


	//- +headerBlock()
	//- +sWelcome()
	//- +sProjects()
	//- +sAdvantages()
	//- +sOptions()
	//- +sContact-inner()
	//- +sSocialMedia()
	//- +sFaq()
	//- +sCallForm(2)
	+footer()



