extends layout/main.pug


include ../blocks/sArticleHead/_sArticleHead.pug
include ../blocks/sArticleTitle/_sArticleTitle.pug
include ../blocks/sArticleBody/_sArticleBody.pug
include ../blocks/sArticleImages/_sArticleImages.pug

block variables
	- let  mainPage= 'some-article' 
	- let  bg= "some-article.jpg"

block title
	- let  title= 'Элитный дизайн квартиры'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+top-nav()
	+breadcrumb('Главная', 'Статьи',title)
	+sArticleHead()
	+sArticleTitle()
	+sArticleBody()
	+sArticleImages()
	+footer()



