extends layout/main.pug

include ../blocks/sDescription/_sDescription.pug
include ../blocks/sDreamHouse/_sDreamHouse.pug

block variables
	- let  mainPage= 'about' 
	- let  bg= "about.jpg"

block title
	- let  title= 'О студии'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+top-nav()
	+breadcrumb('Главная',title)
	+sDescription()
	+sDreamHouse()
	+footer()



