extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sTEst00/_sTEst00.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'title'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		+top-nav()
	
	//- +topLine()
	//- +headerBlock()
	.container
		+icon("telegram")
		a.btn.bnt-primary.link-modal-js(href="#modal-call") sadasdsa 
		a.btn.bnt-primary.link-modal-js(href="#modal-call") sadasdsa 
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est vero tempora quia blanditiis incidunt porro minus ipsum ducimus laborum ut, corporis explicabo quas quidem. Perspiciatis commodi voluptatibus quod laboriosam sequi!
		br
		.small Lorem ipsum dolor sit amet.
		br
		.strong Lorem ipsum dolor sit amet.
		br
		h1 Lorem ipsum dolor sit amet.
		br
		h2 Lorem ipsum dolor sit amet.
		br
		h3 Lorem ipsum dolor sit amet.
		br
		h4 Lorem ipsum dolor sit amet.
		br
		h5 Lorem ipsum dolor sit amet.
		br
		h6 Lorem ipsum dolor sit amet.
		br
		a(href="#").btn.btn-primary Рассчитать проект
		br
		+soc
		br
		
	+sForm()
	+sContact()
	+footer()



