mixin sTimeline1(data)
	// start sTimeline
	+b.sTimeline--first.section#sTimeline1&attributes(attributes)
		.container
			mixin year(y,c)
				+e.year=y
				+e.caption!=c
			+year('2021','Публикация в журнале Домашний очаг спец выпуск интерьер + ремонт')
			+year('2020','Стали номинантами в главной интерьерной премии страны INTERIA AWARDS в конкурсе MODERN HOME Professional Design Award лучшие современные интерьеры ')
			+year('2019','<p class=`title`>Professional Design Award 2019</p><p class="capt-text"><span>29 марта в мультимедийном зале московского центра дизайна Artplay состоялась первая церемония награждения победителей всероссийской профессиональной премии за лучший современный жилой интерьер MODERN HOME Professional Design Award 2019.</span></p><p>Посетили выставку ISalone 2019 на в Милане Италия </p><p>Публикация нашего проекта в Elledecoration</p>')
	// end sTimeline
mixin sTimeline2(data)
	// start sTimeline
	+b.sTimeline--second.section#sTimeline2&attributes(attributes)
		.container
			mixin year(y,c)
				+e.year=y
				+e.caption!=c
			+year('2018','<p>Публикация в журнале Интерьерный 200 лучших дизайнеров </p><p>Вышла статья о нашем интерьере на берегу Волги на сайте www.radidomapro.ru</p>')
			+year('2017','<p class="long">Публикация нашего интерьера в журнале Интерьерный </p><p class="long">Публикация нашего интерьера в журнале «Мебель и интерьер»</p>')
			+year('2016','<p class=`title`>Interia Award - Главная интерьерная премия страны.</p><p class="capt-text"><span>13 октября в отеле The Ritz-Carlton Moscow состоялась торжественная целемония награждения победителей Всероссийского конкурса в области дизайна интерьера жилых и общественных помещений INTERIA AWARDS 2016.</span></p><p class="capt-text"><span>Конкурс  INTERIA AWARDS  проводится Союзом Дизайнеров России и Советом экспертов интерьерного дизайна и архитектурной среды (CIED). За семь лет своего существования  INTERIA AWARDS в профессиональной среде архитекторов, дизайнеров и декораторов зарекомендовала себя как самая масштабная и престижная премия.</span></p><p class="capt-text"><span>В этом году на конкурс было подано 572 заявки участников из 63 городов. В финал вышли 99 номинантов. Работы оценивались профессиональным и общественным жюри, парнерами премии и открытым интернет-голосованием.</span></p><p>Публикация нашего интерьера в журнале SALON DE LUXE  Modern Design лучшие современные интерьеры </p><p>Публикация в журнале «Эпоха дизайна»</p><p>Публикация в журнале «Идеи вашего дома»</p>')
			+year('2015','<p class=`title`>Яркие каникулы со Schneider Electric@ 2015</p><p class="capt-text"><span>Ежегодный федеральный конкурс для дизайнеров интерьера “Яркие каникулы со Schneider Electric@ 2015. Мы стали победителями в номинации “Лучший интерьер чвстной квартиры с использованием серии Odace”, получили приз - поездку в Германию.</span></p>')
			+year('2014','<p class=`title`>A`Design Award & Competition</p><p class="capt-text"><span>Ежегодная престижная международная премия в области дизайна, которая отмечает лучшие дизайнерские идеи и объединяет дизайнеров, как профессионалов, так и новичков, компании и всех новаторов, имеющих отношение к дизайну, с целью воплощения лучших концепций в жизнь.</span></p><p class="capt-text"><span>A`Design Award & Competition - не просто награда, а показатель превосходного качества в дизайне, это премия, которую признают во всем мире. Победа в A`Design Award является сертификатом отличия для дизайнеров и доказательством качества компаний. Победители не только привлекают внимание аудитории во всем мире, но и гарантию более высокого статуса как профессионала.</span></p>')
			+year('2013','<p class=`title`>PinWin - “Лучший интерьер гостиной”</p><p class="capt-text"><span>PinWin - международный он-лайн проект, на котором в интерактивном режиме проводятся конкурсы в области архитектуры и дизайна. Мы стали победителями в конкурсе “Лучший интерьер гостиной”.</span></p>')
	// end sTimeline


