mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js.d-lg-none
		.container
			+e.inner
				+b.toggle-menu-mobile--js
					span
				+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row.align-items-center
				.col-auto
					+e.logo(href="/")
						img(src="img/@2x/header-logo.png", alt="")
				.col.d-none.d-lg-block
					+mnu()
				.col.col-lg-auto.text-end.text-lg-start
					+e.tel(href="tel:+74957203051")
						+icon('phone')
						span +7 495 720-30-51

				.col-auto.d-lg-none
					+b.toggle-menu-mobile--js
						span
					
	// end top-nav