mixin sFaq(data)
	// start sFaq
	+b.SECTION.sFaq.section#sFaq&attributes(attributes)
		.container
			.decorative-circle(class="animate__fadeInUp animate__animated wow"  )
			
			+b.section-title(class="animate__fadeInUp animate__animated wow"  )
				h2 Вопросы, которые нам часто задают
			.row
				.col-lg-5.col-xxl-6(class="animate__fadeInLeft animate__animated wow"  ) 
					mixin item(t) 
						+e.item&attributes(attributes)
							+e.item-head.dd-head-js
								h6!= t
							+e.item-content
								p На самом деле – нет. После заключения соглашения, мы сразу выезжаем на обмеры, после обмеры переносим в электронный вид и занимаемся разработкой планировочного решения с учетом технического задания, проходит 3-5 дней. Дальше, мы начинаем с вами обсуждать решения, вносить корректировки и пожелания. Финальный вариант планировочного решения вы получаете с учетом обсуждений, по статистике, через 2-3 недели. Следующим этапом идет проработка концепции всего интерьера и первые результаты по всем помещениям вы видите, примерно, через 2 недели и дальше тот же процесс – обсуждение и корректировки. Как правило, этап визуализаций, занимает значительную часть времени, около 1,5 месяца. Финальный этап разработки дизайн проекта является разработка рабочей документации и ведомостей, на нее уходит около месяца. Поэтому срок 3 месяца это стандарт.
					+item(`3 месяца дизайн проект (100 м2). Почему так долго?`)
					+item(`Почему мы не можем начать ремонт сразу после разработки планировочного решения?`)
					+item(`Как выбрать дизайнера?`)
					+item(`Почему мы не можем начать ремонт сразу после разработки планировочного решения?`)
					+item(`3 месяца дизайн проект (100 м2). Почему так долго?`)
					//- +item(`Как выбрать дизайнера?`)
					//- +item(`3 месяца дизайн проект (100 м2). Почему так долго?`)
					//- +item(`Как выбрать дизайнера?`)
					//- +e.btn-wrap.d-none.d-lg-block
					//- 	+e.BUTTON.btn
					//- 		+icon('chevron-down')
				.col-lg-7.col-xxl-6(class="animate__fadeInRight animate__animated wow" data-wow-delay=".2s")
					+form-wrap
						+b.bg-text Questions
						+e.title.text-center
							h4 Остались вопросы?
							p Оставьте заявку и мы <br> с радостью на них ответим
						+input(`Имя`, `text`)
						+input(`Телефон`, `tel`)
						+e.BUTTON.btn Отправить заявку


	// end sFaq