mixin sArticleHead(data)
	// start sArticleHead
	+b.SECTION.sArticleHead.section#sArticleHead&attributes(attributes)
		+pic('article-head.jpg','bg',0).picture-bg
		.container
			.decorative-line.decorative-line--some-article
			h2 Элитный дизайн квартиры H1
	// end sArticleHead