mixin sSocialMedia(data)
	// start sSocialMedia
	+b.SECTION.sSocialMedia.section#sSocialMedia&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sSocialMedia
				
			.row
	// end sSocialMedia