mixin sPublications(data)
	// start sPublications
	+b.SECTION.sPublications.section#sPublications&attributes(attributes)
		.container
			+e.wrap
				div(class="animate__fadeInUp animate__animated wow"  )
					h1 Публикации и награды
				+e.block(class="animate__fadeInUp animate__animated wow"  )
					.title 2021
					.caption Публикация в журнале Домашний очаг
				+e.block(class="animate__fadeInUp animate__animated wow"  )
					.title 2020
					.caption Номинанты в INTERIA AWARDS 
				+e.block(class="animate__fadeInUp animate__animated wow"  )
					.title 2019
					.caption Выставка ISalone 2019 в Милане Италия
				+e.btn(href='#'  class="animate__fadeInUp animate__animated wow"  ) Смотреть все награды
			+pic('publications.png','',0).bg-publ
			.decorative-line.decorative-line--1(class="animate__slideInUp animate__animated wow"  )
			.bg-text AWARDS
	// end sPublications