mixin sStages(data)
	// start sStages
	+b.SECTION.sStages.section#sStages&attributes(attributes)
		.decorative-circle.decorative-circle--stages
		.container(style="position:relative")
			.decorative-line.decorative-line--stages-first
			.decorative-line.decorative-line--stages-second
			+b.section-title.text-center
				h1 этапы проектирования
		.container
			.row
				+e.content-col.col-auto.order-lg-0.order-1
					+e.text-wrap
						+e.title ЗАКЛЮЧЕНИЕ ДОГОВОРА
						ul
							li Заключаем соглашение на&nbsp;разработку дизайн проекта
							li Составляем техническое задание
							li Определяемся по&nbsp;бюджету
							li Продумываем функционал
					+e.text-wrap
						+e.title.d-lg-block.d-none ВЫЕЗД<br>НА&nbsp;ОБЪЕКТ
						+e.title.d-lg-none.d-block ВЫЕЗД НА&nbsp;ОБЪЕКТ
						ul
							li Выезжаем на&nbsp;обмер помещений и&nbsp;фотофиксацию, в котором отметим все существующие коммуникации, несущие конструкции, в&nbsp;общем, изучим объект.
							li Мы&nbsp;можем делать проекты удаленно, без выезда! Для этого у&nbsp;нас должны быть обмеры помещения, которым можно доверять и&nbsp;есть все необходимые размеры или точный документ от&nbsp;проектировщиков, например, не построенного загородного дома
					+e.text-wrap
						+e.title ПЛАНИРОВОЧНОЕ РЕШЕНИЕ
						ul
							li Прорабатываем возможные варианты планировки и зонирования&nbsp;помещений, учитывая нормы и возможность согласования.
							li Планировка&nbsp;- это важный момент в&nbsp;работе над интерьером, поэтому ей&nbsp;стоит уделить максимум внимания.
				+e.col.col-lg.col-12.order-lg-1.order-0
					+pic('stages-1.jpg','bg',0)
		.container
			.row.row-reverse
				+e.content-col-left.col-auto.order-lg-0.order-1
					+e.text-wrap
						+e.title КОНЦЕПТУАЛЬНОЕ РЕШЕНИЕ И ПОДБОР МАТЕРИАЛОВ
						ul
							li Разрабатываем концептуальное решение помещений и подбираем все отделочные материалы и оборудование
					+e.text-wrap
						+e.title 3D ВИЗУАЛИЗАЦИЯ
						ul
							li Делаем 3D визуализации помещений, которые позволяют&nbsp;лучше представить планировку, концепцию&nbsp;дизайна, созданную именно для Вас. Эти эскизы дают нам четкое представление о цветовой гамме&nbsp;и стилю будущего дизайна интерьера
					+e.text-wrap
						+e.title РАБОЧИЙ ПРОЕКТ
						ul
							li Все необходимые чертежи, которые, по мнению дизайнера необходимы для успешной реализации задуманной концепции.
					+e.text-wrap
						+e.title ВЫХОД НА СТРОЙКУ
						ul
							li Выбор услуги авторского надзора (только при выборе  project cube+ и комплектация если maxi cube)
				+e.col-left.col-lg.col-12.order-lg-1.order-0
					+pic('stages-2.jpg','bg',0)
	// end sStages